<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header
        >Evolution nombre des partenaires (Toutes les années)
      </nb-card-header>
      <nb-card-body>
        <ngx-chartjs-bar></ngx-chartjs-bar>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header
        >Evolution des nombres des partenaires (tous les mois)</nb-card-header
      >
      <nb-card-body>
        <ngx-chartjs-multiple-xaxis></ngx-chartjs-multiple-xaxis>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header
        >Evolution nombre des partenaires par année
      </nb-card-header>
      <nb-card-body>
        <ngx-chartjs-pie></ngx-chartjs-pie>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Evolution utilisateurs application mobile</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-bar-horizontal></ngx-chartjs-bar-horizontal>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Evolution chiffre d'affaire des partenaires</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-line></ngx-chartjs-line>
      </nb-card-body>
    </nb-card>
  </div>

 
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Evolution de nombre de transactions</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-radar></ngx-chartjs-radar>
      </nb-card-body>
    </nb-card>
  </div>
  
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Mes Statistiques</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-my-stats></ngx-chartjs-my-stats>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Chiffres d'affaires et nombre des transactions de chaque point de vente</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-PV-stats></ngx-chartjs-PV-stats>
      </nb-card-body>
    </nb-card>
  </div>
</div>
