#flex p-button-rounded {
  position: absolute;
  top: 40px;
  float: right;
  margin: 60px;
}

:host ::ng-deep .button {
  margin-right: 0.5rem;
  // box-shadow: 2px 2px 0 rgba(255, 255, 255, 0.3) inset, -1px -1px 0 rgba(0, 0, 0, 0.3) inset, 2px 2px 8px rgba(0, 0, 0, 0.3);
}




.button {
  position: relative;
  left: 1050px;
  top: 0px;

  }


.outofstock {
  font-weight: 700;
  color: #ff5252;
  text-decoration: line-through;
}

.lowstock {
  font-weight: 700;
  color: #ffa726;
}

.instock {
  font-weight: 700;
  color: #66bb6a;
}

:host ::ng-deep .row-accessories {
  background-color: rgba(0, 0, 0, 0.15) !important;
}

:host ::ng-deep {
  .pDialog {
    width: 700px;
    overflow: visible;
  }
}

#alert alert-danger {
  margin-top: 50px;
}

data-table p-table .ui-table .ui-table-tbody > tr.ui-state-highlight {
  background-color: #007ad9;
  color: #ffffff;
}









.breadcrumbs{

  padding: 10px;
  font-family: sans-serif;
}


.breadcrumbs__item{

display: inline-block;

}



.breadcrumbs__item:not(:last-of-type)::after{

  content: '/';
  margin: 0 5px;
  color: #cccccc;
}

.breadcrumbs__link{

  text-decoration: none;
  color: #999999;
}



.breadcrumbs__link:hover{

  text-decoration:none;
}


.breadcrumbs__link--active{

color: green;
font-weight: 500;

}


.breadc{

position: initial;
top: 200px;
}

.breadcrumb li > *, .multi-steps li > * {
  /* single step */
  display: inline-block;
  // color: #0055a0;
  font-weight: bold;
}





.buttonPar {
  text-align: right;
    font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}



@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:wght@600&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: #d9ecf2;
    font-family: 'Poppins', sans-serif;
    color: #666;
}
.h2{
    color: #444;
    font-family: 'PT Sans', sans-serif;
}
thead{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #666;
}
img{
    width: 40px;
    height: 40px;
}
.name{
    display: inline-block;
}
.bg-blue{
    background-color: #EBF5FB;
    border-radius: 8px;
}
.fa-check,.fa-minus{
    color: blue;
}
.bg-blue:hover{
    background-color: #3e64ff;
    color: #eee;
    cursor: pointer;
}
.bg-blue:hover .fa-check,
.bg-blue:hover .fa-minus{
    background-color: #3e64ff;
    color: #eee;
}

.table thead th,.table td{
    border: none;
}

.table tbody td:first-child{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.table tbody td:last-child{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
#spacing-row{
    height: 10px;
}
@media(max-width:575px){
    .container{
        width: 125%;
        padding: 20px 10px;
    }
}




.warn {
  color: #FF3636;
  font-size: 14px;
  text-align: right;
  height: 16px;
}