
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<form [formGroup]="ModeReglementForm" style="margin-bottom: 30px">
  <div class="row">
    <div class="col-sm-6">
      <label class="label">Partenaire <span style="color: red">*</span></label>
      <br />

      <p-dropdown
        [options]="partenaires"
        optionLabel="raisonSociale"
        optionValue="idPartenaire"
        autoWidth="false"
        [style]="{ width: '100%', 'font-weight': 'bold' }"
        [required]="true"
        [filter]="true"
        filterPlaceholder="&nbsp;Rechercher"
        (onChange)="onSelectPartenaire($event)"
        placeholder="&nbsp; Veuillez choisir un partenaire"
      ></p-dropdown>
    </div>
    <div class="col-sm-6">
      <label class="label"
        >Point de vente<span style="color: red">*</span></label
      >
      <br />

      <p-dropdown
        [options]="pointsVente"
        formControlName="pointVente"
        optionLabel="designation"
        optionValue="idPointVente"
        autoWidth="false"
        [style]="{ width: '100%', 'font-weight': 'bold' }"
        [required]="true"
        [filter]="true"
        filterPlaceholder="&nbsp;Rechercher"
        (onChange)="onSelectPointVente($event)"
        placeholder="&nbsp; Veuillez choisir un point de vente"
      ></p-dropdown>
    </div>
    <div class="col-sm-6">
      <label class="label">Désignation <span style="color: red">*</span></label>
      <input
        type="text"
        nbInput
        fullWidth
        placeholder="Désignation"
        class="form-control"
        formControlName="designationMR"
        [ngClass]="{
          'is-invalid': submitted && ModeReglementForm.get('designationMR').errors
        }"
      />
      <div
      id="ngIf"
      *ngIf="submitted && ModeReglementForm.get('designationMR').errors"
      class="invalid-feedback"
    >
      <div *ngIf="ModeReglementForm.get('designationMR').errors.required">
        Veuillez remplir la désignation
       
      </div>
    </div>
    </div>
    <div class="col-sm-6">
      <label class="label">Code <span style="color: red">*</span></label>
      <input
        type="text"
        nbInput
        fullWidth
        placeholder="code"
        class="form-control"
        formControlName="codeMR"
        [ngClass]="{
          'is-invalid': submitted && ModeReglementForm.get('codeMR').errors
        }"
        
      />
      <div
      id="ngIf"
      *ngIf="submitted && ModeReglementForm.get('codeMR').errors"
      class="invalid-feedback"
    >
      <div *ngIf="ModeReglementForm.get('codeMR').errors.required">
        Veuillez remplir le code
       
      </div>
    </div>
    </div>
    <div class="col-sm-6">
      <label class="label">Couleur <span style="color: red">*</span></label>
      <input
        type="color"
        nbInput
        fullWidth
        placeholder="couleur"
        class="form-control"
        formControlName="couleur"
        [ngClass]="{
          'is-invalid': submitted && ModeReglementForm.get('couleur').errors
        }"
      />
      <div
      id="ngIf"
      *ngIf="submitted && ModeReglementForm.get('couleur').errors"
      class="invalid-feedback"
    >
      <div *ngIf="ModeReglementForm.get('couleur').errors.required">
        Veuillez remplir la couleur
       
      </div>
    </div>
    </div>
    <br />
    <br />
    <div  class="row" style="margin-top: 40px; margin-left: 40px;">
      <div class="col-sm-6">
        <fieldset>
          <legend>FNum<span style="color: red">*</span></legend>

          <div>
            <input
              type="radio"
              name="FNum"
              formControlName="FNum"
              [value]="1"
            /><label>oui</label>
          </div>

          <div>
            <input
              type="radio"
              name="FNum"
              formControlName="FNum"
              [value]="0"
            />
            <label>non</label>
          </div>
        </fieldset>
      </div>
      <div class="col-sm-6">
        <fieldset>
          <legend>FFidelite<span style="color: red">*</span></legend>

          <div>
            <input
              type="radio"
              name="FFidelite"
              formControlName="FFidelite"
              [value]="1"
            /><label>oui</label>
          </div>

          <div>
            <input
              type="radio"
              name="FFidelite"
              formControlName="FFidelite"
              [value]="0"
            />
            <label>non</label>
          </div>
        </fieldset>
      </div>
      <div class="col-sm-6">
        <fieldset>
          <legend>FDate<span style="color: red">*</span></legend>

          <div>
            <input
              type="radio"
              name="FDate"
              formControlName="FDate"
              [value]="1"
            /><label>oui</label>
          </div>

          <div>
            <input
              type="radio"
              name="FDate"
              formControlName="FDate"
              [value]="0"
            />
            <label>non</label>
          </div>
        </fieldset>
      </div>
      <div class="col-sm-6">
        <fieldset>
          <legend>Activé<span style="color: red">*</span></legend>

          <div>
            <input
              type="radio"
              name="isactif"
              formControlName="isactif"
              [value]="1"
            /><label>oui</label>
          </div>

          <div>
            <input
              type="radio"
              name="isactif"
              formControlName="isactif"
              [value]="0"
            />
            <label>non</label>
          </div>
        </fieldset>
      </div>
      <div class="col-sm-6">
        <fieldset>
          <legend>Fdefault<span style="color: red">*</span></legend>

          <div>
            <input
              type="radio"
              name="fdefault"
              formControlName="fdefault"
              [value]="1"
            /><label>oui</label>
          </div>

          <div>
            <input
              type="radio"
              name="fdefault"
              formControlName="fdefault"
              [value]="0"
            />
            <label>non</label>
          </div>
        </fieldset>
      </div>
      <div class="col-sm-6">
        <fieldset>
          <legend>Validation<span style="color: red">*</span></legend>

          <div>
            <input
              type="radio"
              name="FValidation"
              formControlName="FValidation"
              [value]="1"
            /><label>oui</label>
          </div>

          <div>
            <input
              type="radio"
              name="FValidation"
              formControlName="FValidation"
              [value]="0"
            />
            <label>non</label>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</form>
<button
  nbButton
  style="float: left; border-color: white; margin-top: 15px"
  type="submit"
  status="danger"
  class="btn btn-danger mx-2"
  (click)="annuler()"
>
  annuler
</button>
<button
  (click)="ajouterModeReglement()"
  nbButton
  style="
    float: right;
    border-color: white;
    margin-top: 15px;
    background: #79008e;
  "
  class="btn btn-primary mx-2"
>
  ajouter
</button>
