<div class="row">



  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Pourcentage de l'état des factures</nb-card-header>
      <nb-card-body>
        <ngx-d3-pie></ngx-d3-pie>
      </nb-card-body>
    </nb-card>
  </div>


  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Total Factures (DT)</nb-card-header>
      <nb-card-body>
        <ngx-d3-bar></ngx-d3-bar>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Sommes des montants facture</nb-card-header>
      <nb-card-body>
        <ngx-pie></ngx-pie>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Total des abonnement/produit ADcaiise</nb-card-header>
      <nb-card-body>
        <ngx-d3-advencebar></ngx-d3-advencebar>
      </nb-card-body>
    </nb-card>
  </div>




  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Totals facture et details</nb-card-header>
      <nb-card-body>
        <ngx-sumfacture-stats></ngx-sumfacture-stats>
      </nb-card-body>
    </nb-card>
  </div>


</div>
